In [1]:
import requests
import random
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import timeit
from datetime import datetime
from config import key
from citipy import citipy

In [19]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=30)
lngs = np.random.uniform(low=-180.000, high=180.000, size=30)
lat_lngs = zip(lats, lngs)

# Add the latitudes and longitudes to a list.
coordinates = list(lat_lngs)

In [20]:
# Use the tuple() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
          citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

ardakan ir
shubarkuduk kz
ushuaia ar
saint-pierre re
nikolskoye ru
matara lk
port elizabeth za
nouakchott mr
nehe cn
east london za
talnakh ru
ishinomaki jp
tsihombe mg
khani ru
hithadhoo mv
roebourne au
pisco pe
brainerd us
bredasdorp za
rikitea pf
rikitea pf
illoqqortoormiut gl
salalah om
saint george bm
mataura pf
nikolskoye ru
thaton mm
busselton au
tiksi ru
bluff nz

In [21]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
        
# Print the city count to confirm sufficient count.
len(cities)

28

In [22]:
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + key

In [23]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in our list.
for i in range(len(cities)):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        
    # Create endpoint URL with each city.
    city_url = url + "&q=" + cities[i]
    
     # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {cities[i]}")
    # Add 1 to the record count.
    record_count += 1
    
    # Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": cities[i],
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | ardakan
Processing Record 2 of Set 1 | shubarkuduk
Processing Record 3 of Set 1 | ushuaia
Processing Record 4 of Set 1 | saint-pierre
Processing Record 5 of Set 1 | nikolskoye
Processing Record 6 of Set 1 | matara
Processing Record 7 of Set 1 | port elizabeth
Processing Record 8 of Set 1 | nouakchott
Processing Record 9 of Set 1 | nehe
Processing Record 10 of Set 1 | east london
Processing Record 11 of Set 1 | talnakh
Processing Record 12 of Set 1 | ishinomaki
Processing Record 13 of Set 1 | tsihombe
City not found. Skipping...
Processing Record 14 of Set 1 | khani
Processing Record 15 of Set 1 | hithadhoo
Processing Record 16 of Set 1 | roebourne
Processing Record 17 of Set 1 | pisco
Processing Record 18 of Set 1 | brainerd
Processing Record 19 of Set 1 | bredasdorp
Processing Record 20 of Set 1 | rikitea
Processing Record 21 of Set 1 | illoqqortoormiut
City not found. Skipping...
Processing Record 22 of Set 1 | salalah
Processing Record 23 of Set 1 | saint george
Processing Record 24 of Set 1 | mataura
Processing Record 25 of Set 1 | thaton
Processing Record 26 of Set 1 | busselton
Processing Record 27 of Set 1 | tiksi
Processing Record 28 of Set 1 | bluff
-----------------------------
Data Retrieval Complete
-----------------------------

In [24]:
# Convert the array of dictionaries to a Pandas DataFrame.
len(city_data)
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,ardakan,32.3100,54.0175,89.98,9,0,4.14,IR,2021-06-07 03:21:48
1,shubarkuduk,49.1447,56.4872,67.37,40,100,7.72,KZ,2021-06-07 03:21:49
2,ushuaia,-54.8000,-68.3000,44.26,61,40,5.75,AR,2021-06-07 03:21:36
3,saint-pierre,-21.3393,55.4781,69.48,89,75,19.57,RE,2021-06-07 03:17:21
4,nikolskoye,59.7035,30.7861,62.80,81,97,2.53,RU,2021-06-07 03:21:49
5,matara,5.9485,80.5353,82.29,81,95,10.83,LK,2021-06-07 03:21:49
6,port elizabeth,-33.9180,25.5701,53.89,47,0,10.36,ZA,2021-06-07 03:21:49
7,nouakchott,18.0858,-15.9785,75.13,34,4,17.81,MR,2021-06-07 03:17:47
8,nehe,48.4833,124.8333,74.25,41,3,7.65,CN,2021-06-07 03:21:50
9,east london,-33.0153,27.9116,62.40,39,0,10.47,ZA,2021-06-07 03:21:50

In [26]:
new_column_order = ["City", 'Country', "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness",]
city_data_df = city_data_df[new_column_order]
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness
0,ardakan,IR,2021-06-07 03:21:48,32.3100,54.0175,89.98,9,0
1,shubarkuduk,KZ,2021-06-07 03:21:49,49.1447,56.4872,67.37,40,100
2,ushuaia,AR,2021-06-07 03:21:36,-54.8000,-68.3000,44.26,61,40
3,saint-pierre,RE,2021-06-07 03:17:21,-21.3393,55.4781,69.48,89,75
4,nikolskoye,RU,2021-06-07 03:21:49,59.7035,30.7861,62.80,81,97
5,matara,LK,2021-06-07 03:21:49,5.9485,80.5353,82.29,81,95
6,port elizabeth,ZA,2021-06-07 03:21:49,-33.9180,25.5701,53.89,47,0
7,nouakchott,MR,2021-06-07 03:17:47,18.0858,-15.9785,75.13,34,4
8,nehe,CN,2021-06-07 03:21:50,48.4833,124.8333,74.25,41,3
9,east london,ZA,2021-06-07 03:21:50,-33.0153,27.9116,62.40,39,0
10,talnakh,RU,2021-06-07 03:21:50,69.4865,88.3972,32.32,95,100
11,ishinomaki,JP,2021-06-07 03:21:50,38.4167,141.3000,69.80,60,96
12,khani,GE,2021-06-07 03:21:51,41.9563,42.9566,47.77,90,4
13,hithadhoo,MV,2021-06-07 03:21:51,-0.6000,73.0833,83.12,72,22
14,roebourne,AU,2021-06-07 03:17:14,-20.7833,117.1333,80.19,33,58
15,pisco,PE,2021-06-07 03:21:51,-13.7000,-76.2167,62.65,82,90
16,brainerd,US,2021-06-07 03:17:20,46.3580,-94.2008,82.18,57,90
17,bredasdorp,ZA,2021-06-07 03:21:52,-34.5322,20.0403,60.12,41,6
18,rikitea,PF,2021-06-07 03:21:52,-23.1203,-134.9692,76.39,85,100
19,salalah,OM,2021-06-07 03:21:52,17.0151,54.0924,84.29,89,75
20,saint george,US,2021-06-07 03:21:52,37.1041,-113.5841,93.79,8,1
21,mataura,NZ,2021-06-07 03:21:53,-46.1927,168.8643,49.48,68,0
22,thaton,MM,2021-06-07 03:21:53,16.9206,97.3714,84.18,72,97
23,busselton,AU,2021-06-07 03:21:53,-33.6500,115.3333,59.09,60,34
24,tiksi,RU,2021-06-07 03:21:17,71.6872,128.8694,44.33,61,100
25,bluff,NZ,2021-06-07 03:21:53,-46.6000,168.3333,49.80,71,7

In [28]:
# Create the output file (CSV).
output_data_file = "Weather_Database/cities.csv"

# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")